<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Man on Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1> Mission to Mars </h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- News Row -->
    <div class="row">
      <div class="col-md-12">
        <!-- News -->
        <h1>The NEWS on M A R S</h1>
        {% if True %}
          {{ info.news_title }} <br>
          <p> {{ info.news_text }} </p>
        {% endif %}
    </div>

    <!-- Combined Row -->
    <div class="row">
      <div class="col-md-8">
        {% if True %}
          <img src="{{ info.feat_img }}" class="img-fluid" alt="featured image">
        {% endif %}
      </div>
      <div class="col-md-4">
        <!-- Weather -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Weather Today</h5>
            {% if True %}
              <p class="card-text"> {{ info.weather }} </p>
            {% endif %}
          </div>
        </div>

        <!-- Table -->
        <table border="1" class="dataframe">
          <thead>
            <tr style="text-align: right;">
              <th></th>
              <th>values</th>
            </tr>
            <tr>
              <th>description</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Equatorial Diameter:</th>
              <td>6,792 km</td>
            </tr>
            <tr>
              <th>Polar Diameter:</th>
              <td>6,752 km</td>
            </tr>
            <tr>
              <th>Mass:</th>
              <td>6.39 × 10^23 kg (0.11 Earths)</td>
            </tr>
            <tr>
              <th>Moons:</th>
              <td>2 (Phobos &amp; Deimos)</td>
            </tr>
            <tr>
              <th>Orbit Distance:</th>
              <td>227,943,824 km (1.38 AU)</td>
            </tr>
            <tr>
              <th>Orbit Period:</th>
              <td>687 days (1.9 years)</td>
            </tr>
            <tr>
              <th>Surface Temperature:</th>
              <td>-87 to -5 °C</td>
            </tr>
            <tr>
              <th>First Record:</th>
              <td>2nd millennium BC</td>
            </tr>
            <tr>
              <th>Recorded By:</th>
              <td>Egyptian astronomers</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <!-- Hemispheres -->
    <div class="row">
      <div class="col-md-6">
        <figure>
          <img src="https://astrogeology.usgs.gov//cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg
  " class="img-responsive" alt="Cerberus">
        </figure>
        <figure>
          <img src="https://astrogeology.usgs.gov//cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg
  " class="img-responsive" alt="Schiaparelli">
        </figure>
      </div>
      <div class="col-md-6">
        <figure>
          <img src="https://astrogeology.usgs.gov//cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg
  " class="img-responsive" alt="Syrtis">
        </figure>
        <figure>
          <img src="https://astrogeology.usgs.gov//cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg
  " class="img-responsive" alt="Valles Marineris">
        </figure>
      </div>
    </div>


  </div>
</body>

</html>
